.image {
  height: 300px;
}

.image_container {
  margin-top: 40px;
}

.button {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 10px;
}

.button:hover {
  text-decoration: none;
  color: $red;
}

.ingredients {
  margin-top: 30px;
  margin-bottom: 50px;
}

.content-show {
  background-color: $gray-lighter;
}

h1 {
  font-family: 'Damion', cursive;
}
